.wrapper {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 32% 32% 32%;
    grid-auto-rows: minmax(100px, auto);

}

.one {
    margin-left: 20%;
    background: lightblue;
    margin-top: 20%;
    font-family: Calibri;
    border: 1px solid black;
    grid-column: 1;
    grid-row: 1 / 3;

}

.two {
    background: lightblue;
    border: black solid 1px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: rgba(172,164,167,0.51);
}

.three {
margin-right: 20%;
    margin-top: 20%;
    font-family: Calibri;
    border: black solid 1px;
    grid-column: 3 / 3;
    grid-row: 1 / 3;
    background: lightblue;
}

.four {
    background: lightblue;
    border: black solid 1px;
    grid-column: 2;
    grid-row: 2 ;
}

.five {
    background: lightblue;
    border: black solid 1px;
    grid-column: 2;
    grid-row: 3;
}

h2 {
    text-align: center;
font-family: "Calibri Light";
}

p {
    font-family: "Calibri Light";
    line-height: 5px;
    font-size: 15px;
}

#ic {
   height: 10%;
    width: 10%;
}

#M {
font-size: 10px;
}


